import {
    Toaster
}

from 'react-hot-toast';

<Toaster position="top-center"

toastOptions= {
        {

        duration: 3000,
        style: {
            background: '#333',
                color: '#fff',
                borderRadius: '50px',
                padding: '12px 24px',
                fontSize: '14px',
                fontWeight: 'bold',
        }

        ,
        success: {
            style: {
                background: '#00897b',
            }

            ,
            icon: '🍔',
        }

        ,
        error: {
            style: {
                background: '#f44336',
            }

            ,
            icon: '❌',
        }

        ,
    }
}

/>